.container {
    position: relative;
    text-align: center;
    color:#6ecfaa;
    background:black;


}

.textcontainer{
    position: absolute;
    top: 20%;
    left:4%;
    font-size: 1.6rem;
    font-weight: 600;
  }

.image{
    opacity: 0.3;
    
}