.container {
    position: relative;
    text-align: center;
    color:white;
    background:#00222e;

    
}

.textcontainer{
    position: absolute;
    top: 5%;
    font-size: 2rem;
    font-weight: 600;
  

}

.image{
    opacity: 0.43;
    
}